/* .mobilecontainer {
   display: none;
} */
.titlee {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.content {
  position: relative;
  height: 400px;
  width: 100%;
  /* background-color: red; */
 
}

.contentOne {
  background-color: lightcyan;
  border-radius: 5px;
  /* border: 1px solid lightcoral; */
  text-align: center;
  padding: 20px;
  height: 32%;
  width: 50%;
  margin-bottom: 10px;
  position: absolute;
  top: 210px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.contentTwo {
    background-color: lightblue;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    height: 30%;
    width: 50%;
    margin-bottom: 10px;
    position: absolute;
    top: 100px;
    left: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.contentThree {
    background-color: lightcoral;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    height: 30%;
    width: 50%;
    margin-bottom: 10px;
    position: absolute;
    top: 20px;
    left: 68%;
    /* white-space: nowrap; */
    transform: translateX(-50%);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
} 
/* ☝Check how to convert these to :nth-child() */


@media screen and (min-width: 600px) {
    .mobilecontainer {
        display: none;
    }
    
}



